mixin header
    .navbar-logo
        a.logo-img(href='/') Store
    .container
        button.btn Filter 
        form.search(action='', method='GET')
            input.form-control(type='search', placeholder='Search', name='search-query')
            button.btn(type='submit') Search 
    .post-btn
        button.btn New


