mixin sidebar
    ul.nav-sidebar
        li.nav-sidebar-item
            a(href="/") Home
        li.nav-sidebar-item
            a(href="/") New 
        li.nav-sidebar-item
            a(href="/") Trending 
        li.nav-sidebar-item
            a(href="/") Best
    ul.nav-sidebar Following
        //- li.nav-sidebar-item
        //-     include user
        //-     +user('/static/img/logo.png', 'Le Minh Sang')
        //- li.nav-sidebar-item
        //-     +user('/static/img/logo.png', 'Le Minh Sang')
        //- li.nav-sidebar-item
        //-     +user('/static/img/logo.png', 'Le Minh Sang')
        //- li.nav-sidebar-item
        //-     +user('/static/img/logo.png', 'Le Minh Sang')
