extends layouts/sub.pug

block register
    form(action='/register/create', method='POST').container
        .login
            h3 Create Account
            .input-group
                .input-group-text Name
                input.form-control(type='text', placeholder='Full name', name='name')
            .input-group
                .input-group-text @
                input.form-control(type='text', placeholder='Username', name='username')
            .input-group
                label(for='') Password
                input.form-control.form-password(type='password', placeholder='Password', name='password')
            button.btn-submit(type='submit') Sign up
            p Have an account?    
                a(href="/login") Log in 
 
